<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css"
          href="/static/css/date/bootstrap-datetimepicker.min.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/date/bootstrap.min.css"/>

    <script src="/static/js/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/static/js/date/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".item").click(function () {

                $(".item").each(function (i) {

                    $(this).removeClass("defineItem");

                });

                $(this).addClass("defineItem");

                $(".tabContent").each(function (i) {

                    $(this).css("display", "none");
                });

                var idName = $(this).attr("name");

                $("#" + idName).css("display", "block");

            });


            $("#consumer").change(function(){

                var consumer = $(this).val();

                if(consumer=="" || isNaN(consumer)){

                    $("#consumerMesg").html("请选择消费人！");
                }else{

                    $("#consumerMesg").html("");
                }

            });


            $(".consumeTypeSelectOption").live("change", function () {

                $(this).nextAll(".consumeTypeSelectOption").remove();

                var selectOptionVal = $(this).val();

                if (!isNaN(selectOptionVal)) {

                    $("#consumeTypeMesg").html("");

                    $.post("/admin/consume/getConsumeTypeByPid", {"pid": selectOptionVal}, function (data) {

                        if(data.length>0){

                        var select = '<select class="input consumeTypeSelectOption">';

                        for (var i = 0; i < data.length; i++) {
                            select += '<option value="' + data[i].consumeTypeId + '">' + data[i].consumeTypeName + '</option>';
                        }
                        select += '</select>';

                        $("#consumeTypeArea").append(select);
                        }
                    })
                }else{

                    $("#consumeTypeMesg").html("请选择消费类别！");
                }

            });


            //默认当前时间
            $("#dateTime").val(getNowFormatDate());

            function getNowFormatDate() {
                var date = new Date();
                var seperator1 = "-";
                var seperator2 = ":";
                var month = date.getMonth() + 1;
                var strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                        + " " + date.getHours() + seperator2 + date.getMinutes();
                return currentdate;
            }


            //提交操作
            $("#submit").mouseover(function(){

                $(this).css("font-size","16px");

            });

            $("#submit").mouseout(function(){

                $(this).css("font-size","14px");

            });


            $("#submit").click(function(){

                var money = $("#money").val();

                if(money == "" || isNaN(money)){

                    $("#moneyMesg").html("请填写合法金额！");

                    return;
                }else{

                    $("#moneyMesg").html("");
                }

                var consumerId = $("#consumer").val();

                if(consumerId == "" || isNaN(consumerId)){

                    $("#consumerMesg").html("请选择消费人！");

                    return;
                }else{

                    $("#consumerMesg").html("");
                }

                var consumeTypeId = $("#consumeType").val();

                if(consumeTypeId == "" || isNaN(consumeTypeId)){

                    $("#consumeTypeMesg").html("请选择消费类别！");

                    return;
                }else{

                    $("#consumeTypeMesg").html("");

                    consumeTypeId = $(".consumeTypeSelectOption:last").val();
                }

                var dateTime = $("#dateTime").val();

                var todo=$("#todo").val();

                $.post("/admin/bill/add",{"amount":money,"consumeTypeId":consumeTypeId,"consumerId":consumerId,"consumeDate":dateTime,"todo":todo},function(data){

                    if(data==1){

                        alert("添加成功！");
                    }else{

                        alert("添加失败！");
                    }

                });

            });

        });


    </script>

    <style type="text/css">

        #container {
            margin-top: 52px;
            width: 100%;
            border-top: 1px solid grey;
        }

        .settingTitle {
            width: 100%;
            border-bottom: 1px solid grey;
        }

        .item {
            width: auto;
            padding: 5px;
            float: left;
            margin-left: 10px;
            border: 1px solid grey;
            cursor: pointer;
        }

        .defineItem {
            background: green;
            color: white;
        }

        .tabContent {
            margin-left: 100px;
            margin-top: 100px;
            width: 100%;
        }

        #billList {

            background: blue;
            height: 200px;
            display: none;
        }

        #list li {
            margin-top: 20px;
            list-style-type: none;
        }

        #money {

            width: 180px;
            height: 30px;
            font-size: large;
            background: white;
            margin-left: 15px;
            border: 1px solid grey;
        }

        #date {
            margin-left: 15px;
        }

        .input {
            width: 180px;
            height: 30px;
            font-size: large;
            background: white;
            margin-left: 10px;
            border: 1px solid grey;
        }

        #submit {
            color: white;
            width: 100px;
            cursor: pointer;
            height: 30px;
            background: green;
            text-align: center;
            line-height: 30px;
            margin-left: 120px;
        }

        .noticeMesg{
            color:red;
            font-size: 18px;
        }

        .field{
            font-size: 18px;
        }

        #todo {
            margin-left:15px;
            width:180px;
        }
    </style>

</head>

<body>

<div id="container">

    <div class="settingTitle">
        <div class="item defineItem" name="recordBill">记一笔</div>
        <div class="item" name="billList">账单列表</div>
    </div>


    <div id="recordBill" class="tabContent">

        <ul id="list">

            <li>
                <span class="field">消费金额：</span>
                <input type="text" value="" id="money"/>
                &nbsp;&nbsp;<span class="noticeMesg" id="moneyMesg"></span>
            </li>


            <li>
                <span class="field">消费所属：</span>
                &nbsp;<select class="input" id="consumer">
                    <option value="">--请选择--</option>

                    #foreach($consumer in $consumerList)
                        <option value="${consumer.getConsumerId()}">${consumer.getConsumerName()}</option>
                    #end

                </select>
                &nbsp;&nbsp;<span class="noticeMesg" id="consumerMesg"></span>
            </li>


            <li id="consumeTypeArea">
                <span class="field">所属类型：</span>
                &nbsp;<select class="input consumeTypeSelectOption" id="consumeType">
                    <option value="">--请选择--</option>

                    #foreach($consumeType in $consumeTypeList)
                        <option value="${consumeType.getConsumeTypeId()}">${consumeType.getConsumeTypeName()}</option>
                    #end

                </select>
                &nbsp;&nbsp;<span class="noticeMesg" id="consumeTypeMesg"></span>

            </li>


            <li>
                <span class="field">消费日期：</span>
                <input type="text" value="" class="form_datetime" id="dateTime" readonly="readonly"
                       style="width: 180px; height: 30px; font-size: large; background: white; margin-left: 15px; border: 1px solid grey; cursor:pointer;">
            </li>

            <li>
                <span class="field">备注说明：</span>
                <textarea id="todo"></textarea>
            </li>
        </ul>




        <div id="submit">添 加</div>

    </div>


    <div class="tabContent" id="billList">


    </div>


</div>


<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        todayBtn: true,
        autoclose: true
    });
</script>


</body>

</html>