<html>
<head>
    <title></title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function(){



            //提交修改密码操作
            $("#submit").click(function(){

                var newPwdResult = confirmNewPwd();

                if( !confirmOldPwd() ){

                    alert("请输入原密码！");
                }else if(newPwdResult<1){

                    if(newPwdResult==0){

                        alert("新密码不能为空！");
                    }else{

                        alert("新密码不一致，请重新输入！");
                    }

                }else{

                    var oldPwd = $("#oldPwd").val();

                    var newPwd = $("#newPwd").val();



                    $.get("/admin/person/updatePwd",{"oldPwd":oldPwd,"newPwd":newPwd},function(data){

                        if(data=="0"){

                            alert("原密码错误！")
                        }else{

                            $("#successMsg").html("密码修改成功！");
                        }
                    })
                }

            });



            $("#oldPwd").blur(function(){

                if(confirmOldPwd()){

                    $("#oldPwdMsg").html("");
                }else{

                    $("#oldPwdMsg").html("请输入原密码！");
                }

            });

            //确认新密码是否一致
            $("#confirmPwd").blur(function(){

                var result = confirmNewPwd();

                if(result == -1){

                    $("#newPwdMsg").html("新密码不一致！");
                }else if(result == 0 ){

                    $("#newPwdMsg").html("新密码不能为空！");
                }else{

                    $("#newPwdMsg").html("");
                }

            });





            function confirmNewPwd(){

                var newPwd = $("#newPwd").val();

                var confirmPwd = $("#confirmPwd").val();

                if(newPwd != confirmPwd){

                    return -1;

                }else if(newPwd == confirmPwd && newPwd == ""){

                    return 0;
                }else{

                    return 1;
                }

            }

            function confirmOldPwd(){

                var oldPwd = $("#oldPwd").val();

                if(oldPwd==""){

                    return false;
                }else{

                    return true;
                }
            }




        });


    </script>

    <style type="text/css">

        .setting{  width: 100%; margin-top: 50px;}

        .settingTitle{  width: 100%; border-bottom: 1px solid grey; color: blue;}

        .settingContent{margin-top: 10px;}

        #passContent{margin-left: 150px;}

        .password{width:180px;height:30px;font-size: large;}

        .Msg{color: red;}

        #submit{color:white;width: 100px; cursor: pointer; height: 30px; background: green; text-align: center; line-height: 30px; margin-left: 80px;}

        #successMsg{color: blue; margin-left: 80px; width: 200px;}

    </style>

</head>

<body>

<div class="setting">

    <div class="settingTitle">修改密码</div>


    <div class="settingContent">

        <div id="passContent">
            原 密 码：<input type="password"  value=""  class="password" id="oldPwd"/> &nbsp;<span id="oldPwdMsg" class="Msg"></span>

            <br />
            <br />

            新 密 码：<input type="password"  value=""  class="password" id="newPwd"/>&nbsp;<span id="newPwdMsg" class="Msg"></span>

            <br />
            <br />

            新 密 码：<input type="password"  value=""  class="password" id="confirmPwd"/>

            <br />
            <br />
            <span id="successMsg"></span>


            <br />
            <br />

            <div id="submit">修改</div>
        </div>



    </div>



</div>


<div class="setting">
    <div class="settingTitle">设置头像</div>

</div>



</body>

</html>