<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:property-placeholder location="classpath:jdbc.properties" />

       <bean id="dataSourceMysql" class="com.mchange.v2.c3p0.ComboPooledDataSource">
              <property name="driverClass" value="${black.jdbc.driver}"/>
              <property name="jdbcUrl" value="${black.jdbc.url}" />
              <property name="user" value="${black.jdbc.username}" />
              <property name="password" value="${black.jdbc.password}" />
              <property name="loginTimeout" value="5" />
              <property name="maxPoolSize" value="200" />
              <property name="initialPoolSize" value="10" />
       </bean>


       <bean id="sqlSessionFactory" name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSourceMysql"/>
              <property name="mapperLocations" value="classpath:mapper/*.xml"/>
       </bean>


       <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="com.xjk.project.*.dao"/>
              <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
       </bean>




</beans>