
<html>

<frameset cols="20%,*" border="1" noresize="noresize">

    <frame src="/admin/admin/menu" name="leftFrame" target="rightFrame">
    <frame src="/admin/admin/welcome" name="rightFrame">

</frameset>

</html>