<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function(){

            //退出操作
            $("#loginOut").click(function(){

                $.get("/admin/login/loginout",null,function(data){

                    top.location.href="/admin/login/index";
                })

            });


            $("#loginOut").mouseover(function(){

                $(this).css("background","red");
                $(this).css("color","white");
            });

            $("#loginOut").mouseout(function(){

                $(this).css("background","white");
                $(this).css("color","black");
            });






        });

    </script>

<style type="text/css">

    #content { float:left; width:100%;}

    #title { border-bottom:1px solid grey;  line-height:50px; height:50px; width:100%; float:left; margin-top:20px;  }

    #defaultCenter { height:50px; float:left; margin-left:20px; cursor:pointer; }

    #title  span {font-size:35px; margin-left:10px;}

    #welcome {text-decoration:none;}

    #menu { float:left; list-style-type:none;  }

    #menu li { float:left; width:100%; font-size:20px; margin-top:5px;}

    #menu li a {text-decoration:none;}



</style>
</head>

<body>
<div id="content">

    <div id="title">
        <a href="/admin/person/index" target="rightFrame">
            <img src="/static/img/logo.png" id="defaultCenter"/>
        </a>

        <span><a href="/admin/admin/welcome" target="rightFrame" id="welcome">Home</a></span>
        <span style="font-size:15px;border:1px solid grey;cursor:pointer;" id="loginOut">退出</span>
    </div>


    <ul id="menu">

        <li><a href="/admin/bill/index" target="rightFrame">账单中心</a></li>

        <li><a href="/admin/consume/index" target="rightFrame">消费分类</a></li>

    </ul>

</div>
</body>
</html>