<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
##    <script type="text/javascript" src="/static/js/common/jquery.min.js" />

    <title>Welcome To Login My Home</title>

    <style type="text/css">

        * {font-family: Arial, Helvetica,15px;}

        #content {width:700px; height:200px; margin-left:auto; margin-right:auto; margin-top:150px;}

        #title { margin-top:50px;text-align:center;}

        #login {margin-top:50px; height:40px; text-align:center;line-height:40px; }

        #login_user{width:180px;height:30px;font-size: large;}

        .login_span{margin-left:20px;}

        #login_pass{width:180px;height:30px;}

        #login_button{width:70px; height:30px; font-size:15px;background: green; color: white;cursor: pointer;}


    </style>

##
##    <script>
##
##        $(document).ready(function () {
##
##            $("input").each(function(){
##
##                $(this).mouseover(function(){
##
##                    $(this).css({"border-width":"1px","border-color":"black","backgroundColor":"white"});
##                })
##
##
##                $(this).onmouseout(function(){
##                    $(this).css({"border-width":"1px","border-color":"black","backgroundColor":"gray"});
##
##                })
##
##
##            })
##
##
##
##        })
##
##
##    </script>

</head>

<body>



<div id="content">

    <div id="title">Welcome To My Home</div>

    <hr />

    <div id="login">

        <form action="${loginAction}" method="post">

            USER:<input id="login_user" type="text" name="${loginName}" />

            <span class="login_span" />

            PASS:<input id="login_pass" type="password" name="${loginPass}"/>

            <span class="login_span" />

            <input id="login_button" type="submit" value="LOGIN" />
        </form>

    </div>

</div>

</body>
</html>